@import url("https://use.typekit.net/qfr0ndj.css");

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
	background-color:#black;
}

p {
	margin: 0;
}

::selection {
  background: #ff471a; /* WebKit/Blink Browsers */
  color:white;
}

#landing-box {
	font-size:4vw;
	font-weight:400;
	font-family:freight-text-pro, serif;
	margin:auto;
	position: fixed; /* or absolute */
   top: 50%;
   left: 20%;
	transform: translate(-50%, -50%);
	text-align:left;
	line-height:1;
}

#landing-box a {
	text-decoration:none;
	color:black;
}

#landing-box a:hover {
	/* text-decoration:underline; */
	color:#ff471a;
	position:relative;
	/* font-weight:700; */
}

.b-d a span{
  font-weight:700;
  display: inline-block;
}
.b-d:hover a span{
  display: none;
}
.b-d:hover a:after{
	font-weight:700;
   content: 'bilal.design';
}

#arch-hover a:hover:after {
	content: url(jpegs/arch_hover.jpg);
	display: block;
	position: fixed;
	left:70%;
	top:10%;
	opacity:0.7;
	bottom:auto;
	z-index:-13;
}

#editorial-hover a:hover:after {
	content: url(jpegs/editorial_hover.jpg);
	display: block;
	position: fixed;
	left:70%;
	top:10%;
	opacity:0.7;
	bottom:auto;
	z-index:-13;
}

#photo-hover a:hover:after {
	content: url(jpegs/photo_hover.jpg);
	display: block;
	position: fixed;
	left:70%;
	top:10%;
	opacity:0.7;
	bottom:auto;
	z-index:-13;
}

#about-hover a:hover:after {
	content: url(jpegs/about_hover.jpg);
	display: block;
	position: fixed;
	left:70%;
	top:10%;
	opacity:0.7;
	bottom:auto;
	z-index:-13;
}

#bio-text {
	font-size:2vw;
	font-weight:400;
	font-family:neue-haas-grotesk-display, sans-serif;
	/* font-family:freight-text-pro, serif; */
	line-height:1.2;
	margin:auto;
	position: fixed; /* or absolute */
   top: 50%;
   left: 65%;
	transform: translate(-50%, -50%);
	text-align:left;
	padding:30px;
	border:1px dashed;
}

#bio-text a {
	color:gray;
	text-decoration:none;
}

#bio-text a:hover {
	color:#ff471a;
}

.topbar {
	height: 130px;
	vertical-align: top;
	font-size:3vw;
	font-weight:400;
	font-family:freight-text-pro, serif;
   letter-spacing: 0px;
   padding-top:30px;
   padding-left:7%;
   font-weight:medium;
   line-height:1.3;
	text-align:left;
}

.topbar .topbar-about {
	font-family:neue-haas-grotesk-display,sans-serif;
	font-size:35px;
	width:70%;
	font-weight:400;
	margin-left:0;
	line-height:1.2;
}

.topbar a {
   color:black;
   text-decoration: none;
}

.topbar a:hover {
   color:#ff471a;
	font-family:freight-text-pro, serif;
}

hr {
	margin-left:7%;
	margin-right:7%;
}

.content-full {
	/* display: table-cell; */
	margin:auto;
	width: 80%;
	vertical-align: top;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 400;
	font-style: normal;
   font-size: 25px;
   padding-top:25px;
   padding-bottom:20px;
}

.content-full a {
	text-decoration:none;
	color:gray;
}

.content-full a:hover {
	color:#ff471a;
}

.icon a {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight:700;
	text-decoration:none;
	color:black;
	font-size:40px;
}

.icon a:hover {
	color:#ff471a;
	opacity:0.8;
}

.title {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight:700;
	text-decoration:none;
	color:black;
	font-size:40px;
}

.content-full .icon .title a {
	color:black;
}

#photo-full {
	margin:auto;
   padding-top:25px;
   padding-bottom:20px;
	text-align:center;
	font-family:neue-haas-grotesk-display,sans-serif;
	font-size:22px;
}

#photo-full .text {
	text-align:left;
	width:50%;
	margin:auto
}

#photo-full .text a {
	color:white;
}

#photo-full .caption {
	text-align:center;
	width:50%;
	margin:auto;
	color:gray;
}

#photo-full img {
	/* height:80%; */
	/* width:auto; */
}

#content a {
	text-decoration: none;
	color: gray;
}

/* TEXT ON PHOTO */

.text-on-photo {
  position: relative;
  text-align: center;
}

.text-on-photo img {
	filter:grayscale(90%);
	border:3px solid #ff471a;
}

.text-on-photo img:hover {
	/* filter:grayscale(40%); */
	/* filter:grayscale(1%); */
	filter:opacity(65%) grayscale(90%);
	transform:skewX(1deg) skewY(1deg) scaleX(0.97) scaleY(0.97);
}

.text-on-photo a {
  color:white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: freight-text-pro, serif;
  font-weight:700;
  font-size:9vw;
  /* letter-spacing:3; */
  color:#ff471a;
  line-height:8vw;
}

.centered:hover {
	font-style:italic;
}

.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1300px) {

	#landing-box {
		position:relative;
		left:0;
		top:0;
		margin:5%;
		transform:none;
		font-size:9vw;
	}

	#bio-text {
		position:relative;
	   left:0;
		top:0;
		margin:5%;
		transform:none;
		font-size:6vw;
	}

	.topbar {
		/* display: table-cell; */
		width: 100%;
		height: 130px;
		vertical-align: top;
		/* font-family: acumin pro, sans-serif; */
	   font-size: 30px;
	   padding-top:30px;
	   font-weight:medium;
		/* position:fixed; */
		/* text-align:center; */
		/* background-color:#f9eff2; */
		/* border-bottom:0.5px solid; */
	}

	/* .topbar #topbar-about {
		size:22px;width:90%;margin:auto;line-height:1.2
	} */

	#content-full {
		/* display: table-cell; */
		margin:auto;
		width: 90%;
		vertical-align: top;
		font-family: acumin pro, sans-serif;
		font-weight: 400;
		font-style: normal;
	   font-size: 20px;
	   padding-top:25px;
	   padding-bottom:20px;
	}

   .content-full img {
		max-width:100%
	}

	#photo-full {
		margin:auto;
	   padding-top:25px;
	   padding-bottom:20px;
		text-align:center;
		/* font-family:acumin pro,sans-serif; */
		/* color:white; */
		font-size:19px;
	}

	#photo-full img {
		/* width:100% */
		text-align:center;
	}

	#photo-full .text {
		text-align:left;
		width:80%;
		margin:auto
	}

	#photo-full .text a {
		color:white;
	}

	#photo-full .caption {
		text-align:center;
		width:80%;
		margin:auto;
		color:gray;
	}

	#photo-full img {
		width:90%;
		height:auto;
	}

	.centered {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  /* font-family:'IBM Plex Mono',monospace; */
	  font-size:56px;
	}

}
