@import url("https://use.typekit.net/qfr0ndj.css");

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
	/* background: rgb(255,154,139); */
	/* background: linear-gradient(180deg, rgba(238,117,99,1) 0%, rgba(255,255,255,1) 7%); */

	background: rgb(228,210,218);
background: linear-gradient(180deg, rgba(228,210,210,1) 0%, rgba(242,242,242,0) 100%);

	background-color: #eeee;
	background-attachment:fixed;
}

p {
	margin: 0;
}

::selection {
  background: #d6321a; /* WebKit/Blink Browsers */
  color:white;
}



* {box-sizing:border-box}



.sidebar {
	font-size:20px;
	font-weight: 400;
	font-style: normal;
   line-height:1.4;
	font-family: aktiv-grotesk, sans-serif;

	text-align:left;
	padding-left:30px;
	padding-top:30px;
	padding-right:30px;
	position:fixed;
	z-index:89;
	top:0;
	left:0;
	overflow-x:hidden;
	height:100%;
	width:30%;
	border-right:1px solid;
}

.sidebar a {
   color:black;
   text-decoration: none;
	/* border-bottom:1px solid; */
	/* outline:1px solid transparent;
	outline-offset:7px; */
}

.sidebar a:hover {
   color:#d6321a;
	/* outline:1px solid;
	border-spacing:1000px; */
}

hr {
	margin-left:7%;
	margin-right:7%;
}

.content-full {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;
   font-size: 20px;

   /* padding-top:30px; */
   padding-bottom:20px;
   padding-left:20px;
	margin-left:30%;
	width: 70%;
	/* vertical-align: top; */
}

.content-full a {
	text-decoration:none;
	color:#d6321a;
}

.about-content {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;
   font-size: 20px;

   /* padding-top:30px; */
   padding-bottom:20px;
   padding-left:20px;
	margin-left:30%;
	width: 70%;
	max-width:40%;
	/* vertical-align: top; */
}

.about-content a {
	text-decoration:none;
	color:#d6321a;
}

.icon a {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	text-decoration:none;
	color:black;
	font-size:45px;
}

.icon a:hover {
	color:#d6321a;
	opacity:0.8;
}

.title {
	/* font-family: neue-haas-grotesk-display, sans-serif; */
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;
	/* font-weight:700; */
	text-decoration:none;
	color:#d6321a;
	font-size:45px;
}

.title a {
	color:#d6321a;
}

.info-grid {
	display:grid;
	font-family:'inconsolata',fixed-width;
	font-size:16px;
	letter-spacing:1.8;
	/* color:#d6321a; */
}

.info-grid-1 {
	grid-row-start:1;
	grid-row-end:1;
	border-top:1px solid;
	border-right:1px solid;
	border-left:1px solid;
	border-bottom:1px solid;
	width:350px;
	padding:11px;
	background:white;
}

.info-grid-2 {
	grid-row-start:2;
	grid-row-end:2;
	border-right:1px solid;
	border-left:1px solid;
	border-bottom:1px solid;
	width:350px;
	padding:11px;
	background:white;
}

.info-grid-3 {
	grid-row-start:3;
	grid-row-end:3;
	border-right:1px solid;
	border-left:1px solid;
	border-bottom:1px solid;
	width:350px;
	padding:11px;
	background:white;
}

.info-grid-4 {
	grid-row-start:4;
	grid-row-end:4;
	border-right:1px solid;
	border-left:1px solid;
	border-bottom:1px solid;
	width:350px;
	padding:11px;
	background:white;
}

.info-grid-5 {
	grid-row-start:5;
	grid-row-end:5;
	border-right:1px solid;
	border-left:1px solid;
	border-bottom:1px solid;
	max-width:350px;
	padding:11px;
	background:white;
}

#photo-full {
	padding-bottom:20px;
	padding-left:20px;
	margin-left:30%;
	width: 70%;
	font-family:freight-text-pro, serif;
	font-size:22px;
	text-align:center;
}

#photo-full .title {
	text-align:left;
}

#photo-full .text {
	text-align:left;
	width:50%;
	margin:auto
}

#photo-full .text a {
	color:white;
}

#photo-full .caption {
	text-align:center;
	width:50%;
	margin:auto;
	color:gray;
}

#content a {
	text-decoration: none;
	color: gray;
}

/* TEXT ON PHOTO */

.text-on-photo {
  position: relative;
  text-align: center;
}

.text-on-photo img {
	filter:grayscale(100%) opacity(70%);
}

.text-on-photo img:hover {
	/* filter:grayscale(40%); */
	/* filter:grayscale(1%); */
	/* filter:grayscale(100%) opacity(40%);
	transform: scaleX(0.94) scaleY(0.94); */
}

.text-on-photo a {
  color:white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: freight-text-pro, serif;
  font-weight:700;
  font-size:9vw;
  /* letter-spacing:3; */
  color:#d6321a;
  line-height:8vw;
}

.centered:hover {
	font-style:italic;
}

.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

.about-img {
	width: 230px;
   height:345px;
   background: url("jpegs/about-img-top.jpg") no-repeat;
   display: inline-block;
}

.about-img:hover {
	background: url("jpegs/about-img-bottom.jpg") no-repeat;
}

.resume_sectionhead {
	font-family:neue-haas-grotesk-display,sans-serif;
	font-weight:400;
	color:#d6321a;
	/* letter-spacing:4; */
}

.resume_item {
	font-weight:700;
}

.fontbook-wrapper {
	background-color:#fff7d1;
	width:80%;
	padding:20px;
	font-family:acumin-pro-condensed;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
